@model Blog.Models.Post

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomePost" class="control-label"></label>
                <input asp-for="NomePost" class="form-control" />
                <span asp-validation-for="NomePost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResumoPost" class="control-label"></label>
                <input asp-for="ResumoPost" class="form-control" />
                <span asp-validation-for="ResumoPost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConteudoPost" class="control-label"></label>
                <input asp-for="ConteudoPost" class="form-control" />
                <span asp-validation-for="ConteudoPost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriasPost" class="control-label"></label>
                <input asp-for="CategoriasPost" class="form-control" />
                <span asp-validation-for="CategoriasPost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPost" class="control-label"></label>
                <input asp-for="DataPost" class="form-control" />
                <span asp-validation-for="DataPost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioCriador" class="control-label"></label>
                <input asp-for="UsuarioCriador" class="form-control" />
                <span asp-validation-for="UsuarioCriador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
