@model EscolaSagawe.Models.Curso

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Curso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CursoID" class="control-label"></label>
                <input asp-for="CursoID" class="form-control" />
                <span asp-validation-for="CursoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notas" class="control-label"></label>
                <input asp-for="Notas" class="form-control" />
                <span asp-validation-for="Notas" class="text-danger"></span>
            </div>

            <!-- <div class="form-group">
                <label asp-for="DepartamentoID" class="control-label"></label>
                <select asp-for="DepartamentoID" class ="form-control" asp-items="ViewBag.DepartamentoID"></select>
            </div>-->

            <div class="form-group">
                <label asp-for="Departamento" class="control-label"></label>
                <select id="departamentos" asp-for="DepartamentoID" class="form-control" asp-items="ViewBag.DepartamentoID">
                    <option value=""> --  Selação de departamento -- </option>
                </select>
                <span asp-validation-for="DepartamentoID" class="text-danger" />
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<!--Listbox com texto (chosen)
1 - Adicionar as referencias no arquivo _Layout.cshtml
    <link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.3/chosen.css" rel="stylesheet"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.3/chosen.jquery.min.js"></script>
2 - Criar o Scripts do uso das referencias Create.cshtml

-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(function () {
            $("#departamentos").chosen();
        })
    </script>

}

