@model IEnumerable<EscolaSagawe.Models.EscolaViewModels.InstrutorIndexDados>

@{
    ViewData["Title"] = "Instrutores";
}

<h1>Professores</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Data de Admição</th>
            <th>Sala</th>
            <th>Sala</th>
        </tr>
    </thead>
    <tbody>



    </tbody>
</table>
