@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Escola Sagawe</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>BenVindo</h2>
        <p>
            A Escola Sagawe é um projeto de estudos usando o ASP.NET Cores, Entity Framework Core, SQLServer entre outras tecnologias da Microsoft 
        </p>
        <p>O projeto tambem será em portugues (com alguns erros 😅 )</p>
    </div>
    <div class="col-md-4">
        <h2>Base do Desenvolviemnto</h2>
        <p>Como base inicial foi usado o tutorias da propria microsoft.</p>

        <p><a class="btn btn-default" href="https://docs.microsoft.com/pt-br/aspnet/core/data/ef-mvc/?view=aspnetcore-5.0">Este tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Extras usados</h2>
        <p>
            Atom One Dark Theme
        </p>
        <p>Power Mode</p>
</div>

</div>